/* FORM */

.form-header {
  margin-bottom: 2vh;
  text-align: center;
  color: rgb(0, 0, 128);
}

.main-form {
  width: 50%;
  margin: auto;
  padding: 25px;
  border: 1px solid rgb(38, 151, 192,0.25);
  border-radius: 10px;
  /* background-color: rgb(255, 255, 255,0.80); */
  background-image: linear-gradient(to bottom, rgba(255,255,255,1.0), rgba(255,255,255,0.90), rgba(255,255,255,0.80), rgba(255,255,255,0.70));
}

.main-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(0, 0, 128);
}

.main-form input,
.main-form textarea {
  margin-top: 0px;
  margin-bottom: 30px;
  border: 1px solid rgb(38, 151, 192);
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;

  color: rgb(0, 0, 128);
}

.main-form input {
  min-height: 3em;
}

.main-form textarea {
  min-height: 20vh;
}

.main-form button {
  border: 1px solid white; 
  border-radius: 5px; 
  width: 100%;
  padding: 12px; 
  background-color: rgb(38, 151, 192); 
  cursor: pointer;
  font-size: 16px;
  color: rgb(255, 255, 255);    
}